<div class="container">
    <div class="row" [formGroup]="form">
        <span>
            <input type="checkbox" class="form-control" formControlName="overridden">
            <label>Overridden</label>
        </span>
        <span>
            <input type="checkbox" class="form-control" formControlName="modified">
            <label>Modified</label>
        </span>
        <span>
            <input type="checkbox" class="form-control" formControlName=="supplement">
            <label>Supplement</label>
        </span>
        <span>
            <input type="checkbox" class="form-control" formControlName=="verified">
            <label>Verified</label>
        </span>
        <span>
            <input type="checkbox" class="form-control" formControlName=="deleted">
            <label>Deleted</label>
        </span>
        <span>
            <input type="checkbox" class="form-control" formControlName=="printable">
            <label>Printable</label>
        </span>
        <span [hidden]="hideChargeable">
            <input type="checkbox" class="form-control" formControlName=="chargeable">
            <label>Chargeable</label>
        </span>
        <span>
            <select class="form-control" formControlName="status">
                <option *ngFor="let item of statusTypes" [value]="item.value">
                    {{item.name}}
                </option>
            </select>
        </span>
    </div>
    <div class="col" [hidden]="hideRemark">
        <label>Remark:</label>
        <textarea class="form-control" formControlName="remark">{{form.controls.remark}}</textarea>
    </div>
</div>